<footer class="footer">
      <div class="container-fluid">
        <div class="row" style="height:25px"></div>
        <div class="row">
          <div class="hidden-sm-down col-md-2"></div>
          <div class="copyright col-xs-7 col-md-6">
            <i class="fa fa-copyright copyright"></i> 2016 rootedreasoning.com
          </div>
          <div class="col-xs-3"></div>
          <div style="margin-top:-8px" class="col-xs-4">
            <a style="padding: 0px 7px 0px 7px" class="btn btn-sm btn-default" href="https://facebook.com/rootedreasoning">
              <div style="padding:8px 2px 5px 0px" class="btn">Find us on</div>
              <span style="background-color:#3B5998; padding: 7px 5px 0px 7px; border: transparent; color:white; border-radius: 2px" class="btn btn-md"><i class="fa fa-lg fa-facebook"></i></span>
            </a>
          </div>
        </div>
      </div>
    </footer>