<nav style="font-family:Open Sans" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#search-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span style="color: white" class="fa fa-search"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img src="../images/rootedreasoning-logo-inline.png" height="50px"/>  
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse navbar-left" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">home<span class="sr-only">(current)</span></a></li>
            <li><a href="/about">about</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">contact <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">ask us</a></li>
                <li><a href="#">study with us</a></li>
                <li><a href="#">feedback</a></li>
              </ul>
            </li>
            <li><a href="/climb">climb</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">god <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">introduction</a></li>
                <li><a href="does-god-exist-part1.html">does god exist? (part 1)</a></li>
                <li><a href="#">does god exist? (part 2)</a></li>
                <li><a href="#">what is god like?</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->

        <div class="navbar-collapse collapse navbar-right" id="search-collapse">
          <form class="navbar-form" role="search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="search">
              <div class="input-group-btn">
                <button type="submit" OnClick="DoThing()" class="btn btn-default"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </form>
        </div>
        
      </div><!-- /.container-fluid -->
    </nav>