
<div class="table-responsive">
  <table class="table table-striped">
      <thead>
          <tr>
              <th>Author</th>
              <th>Date Written</th>
              <th>Earliest Copy</th>
              <th>Approx. Time Span Between Original &amp; Copy</th>
              <th>Number of Copies</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <th>Lucretius</th>
              <td>died 55 or 53 BC</td>
              <td>---</td>
              <td>1100 yrs</td>
              <td>2</td>
          </tr>
          <tr>
              <th>Pliny</th>
              <td>AD 61-113</td>
              <td>AD 850</td>
              <td>750 yrs</td>
              <td>7</td>
          </tr>
          <tr>
              <th>Plato</th>
              <td>427-347 BC</td>
              <td>AD 900</td>
              <td>1200 yrs</td>
              <td>7</td>
          </tr>
          <tr>
              <th>Demosthenes</th>
              <td>4th Cent. BC</td>
              <td>AD 1100</td>
              <td>800 yrs</td>
              <td>8</td>
          </tr>
          <tr>
              <th>Herodotus</th>
              <td>480-425 BC</td>
              <td>AD 900</td>
              <td>1300 yrs</td>
              <td>8</td>
          </tr>
          <tr>
              <th>Suetonius</th>
              <td>AD 75-160</td>
              <td>AD 950</td>
              <td>800 yrs</td>
              <td>8</td>
          </tr>
          <tr>
              <th>Thucydides</th>
              <td>460-400 BC</td>
              <td>AD 900</td>
              <td>1300 yrs</td>
              <td>8</td>
          </tr>
          <tr>
              <th>Euripides</th>
              <td>480-406 BC</td>
              <td>AD 1100</td>
              <td>1300 yrs</td>
              <td>9</td>
          </tr>
          <tr>
              <th>Aristophanes</th>
              <td>450-385 BC</td>
              <td>AD 900</td>
              <td>1200 yrs</td>
              <td>10</td>
          </tr>
          <tr>
              <th class="s0">Caesar</th>
              <td class="s0">100-44 BC</td>
              <td>AD 900</td>
              <td>1000 yrs</td>
              <td>10</td>
          </tr>
          <tr>
              <th>Livy</th>
              <td>59 BC-AD 17</td>
              <td>---</td>
              <td>---</td>
              <td>20</td>
          </tr>
          <tr>
              <th>Tacitus</th>
              <td>circa AD 100</td>
              <td>AD 1100</td>
              <td>1000 yrs</td>
              <td>20</td>
          </tr>
          <tr>
              <th>Aristotle</th>
              <td>384-322 BC</td>
              <td>AD 1100</td>
              <td>1400 yrs</td>
              <td>49</td>
          </tr>
          <tr>
              <th>Sophocles</th>
              <td>496-406 BC</td>
              <td>AD 1000</td>
              <td>1400 yrs</td>
              <td>193</td>
          </tr>
          <tr>
              <th>Homer (Illiad)</th>
              <td>900 BC</td>
              <td>400 BC</td>
              <td>500 yrs</td>
              <td>643</td>
          </tr>
          <tr>
              <th>New Testament</th>
              <td>1st Cent. AD (AD 50-100)</td>
              <td>2nd Cent. AD (c. AD 130 f.)</td>
              <td>&lt; 100 yrs</td>
              <td>5600</td>
          </tr>
      </tbody>
  </table>
</div>
