<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <div id="wrapper">
      

      {% include side-navbar.html %}
      <a class="btn btn-lg btn-primary sharing-toggle"><i class="fa fa-lg fa-share-alt"></i></a>
      <div class="sharing">
        <ul>
          <li>
            <a href="https://www.facebook.com/sharer.php?u={{site.url}}{{page.permalink}}" 
              class="btn btn-lg btn-primary" target="_blank"
              onclick="return !window.open(this.href, 'Facebook share', 'width=500,height=500')"><i class="fa fa-lg fa-facebook"></i></a>
          </li>
          <li>
            <a href="https://www.twitter.com/share?url={{site.url}}{{page.permalink}}&via=rootedreasoning" 
              class="btn btn-lg btn-primary" target="_blank"
              onclick="return !window.open(this.href, 'Twitter share', 'width=500,height=500')"><i class="fa fa-lg fa-twitter"></i></a>
          </li>
          <li>
            <a href="https://plus.google.com/share?url={{site.url}}{{page.permalink}}" 
              class="btn btn-lg btn-primary" target="_blank"
              onclick="return !window.open(this.href, 'Google+ share', 'width=500,height=500')"><i class="fa fa-lg fa-google-plus"></i></a>
          </li>
          <li>
            <a href="mailto:?body=Check out this article: https://{{site.url}}{{page.permalink}}" 
              class="btn btn-lg btn-primary"><i class="fa fa-lg fa-envelope"></i></a>
          </li>
          <a href="sms:&body=Check out this article: https://{{site.url}}{{page.permalink}}" 
              class="btn btn-lg btn-primary visible-xs"><i class="fa fa-lg fa-comment"></i></a>
          </li>
      </div>
      <a class="btn btn-lg btn-primary" id="menu-toggle"><i class="fa fa-lg fa-bars"></i></a>
      

      <div id="page-content-wrapper" class="default">

        {{ content }}
        
        {% include footer.html %}
      </div>
    </div>

    {% include reftagger.html %}
    
  </body>

</html>