---
layout: default
---

<div>

  {% include home-header.html %}
  
  <main class="content">
    <div class="col-xs-12">
      <div class="article">
        <div class="page-header">
          <h1><b>{{page.title}}</b></h1>
        </div>
        <div class="intro-video">
          <iframe src="https://www.youtube-nocookie.com/embed/IIac1wZ1hGY?rel=0&controls=0&theme=light&color=white" frameborder="0" allowfullscreen></iframe>
        </div>
        <br>
        <h2>A little about us...</h2>
        <p>
          <b>rootedreasoning.com</b> is a roadmap to many of life's big questions. We are dedicated to understanding the truth that is rooted in the nature and revealed wisdom of God, and providing our help and answers through that truth.
        </p>
        <p><i>Let's grow together.</i></p>
        <br>
        <div class="btn-group btn-group-justified">
          <a class="btn btn-lg btn-primary" href="{{site.baseurl}}/about">Learn more</a>
          <a class="btn btn-lg btn-primary" href="{{site.baseurl}}/study-with-us">Study with us</a>
        </div>
        <br>
        <h2>Getting started...</h2>
        <p>
          The TruthTree connects related articles that discuss the big questions that individuals may have, starting with perhaps the biggest question of all - "Is there a God?" - and growing upwards.
        </p>
        <p><i>Let's go on a journey together.</i></p>
        <br>
      
        <a class="btn btn-lg btn-block btn-primary" href="{{site.baseurl}}/climb">Start climbing</a>
      </div>
    </div>
  </main>
</div>